@media(max-width: 1639px){
    .page-img{
        width: 550px;
    }
}
@media(max-width: 1300px){
    .page-img{
        width: 450px;
    }
}



@media(max-width: 1100px){
    .page-img{
        width: 300px;
    }
}

@media(max-width: 1000px){
    .description p {
        font-size: 1.5em;
    }
}

@media(max-width: 900px){
    .img-area{
        display: none;
    }
    .social{
        flex-direction: row;
        margin-right: 0;
        justify-content: space-around;
    }

    .description{
        margin-bottom: 60px;
    }

    .main-content{
        flex-direction: column-reverse;
    }





    .skill-display{
        flex-direction: column;
    }
}


@media(max-height: 850px){
    .section{
        height: auto;
        padding: 24px;
    }
}
