@media(max-width: 1639px){
    .page-img{
        width: 550px;
    }
}
@media(max-width: 1300px){
    .page-img{
        width: 450px;
    }
}

@media(max-width: 1100px){
    .page-img{
        width: 300px;
    }
}