@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    height: 100vh;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    padding: 0 10%;
    color: white;
    display: flex;
    align-items: center;
}

.menu{
    padding: 0 20%;
    background: none;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: sans-serif;
    font-size: 1.3em;
}

.menu ul li{
    padding: 20px 0;
}

.menu ul li:not(:first-child){
    margin-left: 30px;
}

.menu ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
}

.home{
    background-color: #050d18;
}

.home .main-content{
    display: flex;
}

.title{
    margin-bottom: 30px;
}

.description{
    max-width: 600px;
}

.description p{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 520;
}

.description button, .access-area button{
    padding: 24px 48px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    background-color: #E62E62;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.6s ease-out;
    cursor: pointer;
}

.description button:hover{
    background-color: #f71353;
}

.social{
    font-size: 60px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.fab{
    margin: 20px 0;
    cursor: pointer;
    transition: 0.6s ease-out;
}

.fab:hover{
    color: #E62E62;
}

.img-area{
    margin-left: 100px;
}


.wave{
    position: absolute;
    bottom: -50px;
    left: 0;
}

.wavee{
    position: absolute;
    bottom: calc(-100% - 100px);
    left: 0;
}

.waveee{
    position: absolute;
    bottom: calc(-200% - 150px);
}









.skills{
    background-color: #19111F;
    justify-content: center;
    flex-direction: column;
}

.skill-header{
    margin-bottom: 30px;
}


.skill-display{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.skill-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skill-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-icon{
    height: 80px;
    width: 80px;
}

.backend-skill, .frontend-skill, .design-skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    min-width: 300px;

    padding: 30px;
    border-radius: 25px;
    background-color: #0c090f;
    
}

.backend-skill, .frontend-skill{
    margin-right: 50px;
}

.backend-skill h2, .frontend-skill h2, .design-skill h2{
    margin-bottom: 20px;
}




















.projects{
    justify-content: center;
    background-color: #050d18;
    flex-direction: column;
    
}

.projects-header{
    margin-bottom: 60px;
}

.projects-header h1{
    margin-bottom: 10px;
}

.projects-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-card{
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5px;
    max-width: 400px;
    overflow: hidden;
    background-color: #01050a;
}

.projects-card-main-description{
    padding: 15PX;
}

.projects-card-main-description h3{
    margin-bottom: 5px;
}



.projects-img{
    width: 100%;
    border-radius: 5px;
}

.access-area{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}





















.contact{
    height: 100vh;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    padding: 0 10%;
    background-color: #19111F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact form{
    display: flex;
    flex-direction: column;
}

.contact form input{
    max-width: 770px;
    height: 70px;
    margin: 30px 0;
}

.contact .input-text{
    
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    background-color: #0c090f;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px 24px;
}

.contact textarea{
    height: 340px;
}

.contact form input.button{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    background-color: #E62E62;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.6s ease-out;
    cursor: pointer;
}

.contact textarea:focus{
    border: none;
}

.contact form input.button:focus{
    border: none;
}