@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    padding: 0 20%;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
}

.menu ul li{
    margin-left: 30px;
}

.menu ul li a{
    text-decoration: none;
}

.main{
    font-family: 'Archivo', sans-serif;
}